<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Idade</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Imc</th>
      <th class="text-center">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="pessoas && pessoas.length">
    <tr *ngFor=" let pessoa of pessoasFiltradas">
      <td>{{pessoa.id}}</td>
      <td>{{pessoa.nome | titlecase}}</td>
      <td>{{pessoa.cpf}}</td>
      <td>{{pessoa.idade}}</td>
      <td>{{pessoa.peso}}k</td>
      <td>{{pessoa.altura}}h</td>
      <td><strong>{{pessoa.imc | number : "1.2-2"}}</strong></td>
      <td  class="text-center">
        <button type="button" class="btn btn-warning m-1" tooltip="Editar"><i class="fas fa-redo-alt mr-2"></i>Alterar</button>
        <button class="btn btn-danger m-1" tooltip="Deletar"><i class="fas fa-trash-alt mr-2"></i>Deletar</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!pessoas.length"> 
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhuma Pessoa encontrada =[</h4>
      </td>
    </tr>
  </tfoot>
</table>